
<!--animation Js--->
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js" type="text/javascript"></script>
<script src="/js/noframework.waypoints.min.js"></script>
<script src="/js/animation.js" type="text/javascript"></script>

</body>

</html>
