<%- include('partials/header') %>

<section id="title" >

    <div id="about-box"  class="container-fluid">




        <!-- Text animation starts -->


        <!-- 3. About me -->
        <section class="about-me-box section-padding" id="about-me">
            <div  class="container-fluid about-container">
                <!--starts Nav Bar -->
                <nav class="navbar navbar-expand-lg  navbar-dark">
                    <div class="container">
                        <a class="navbar-brand" href="/">Yersin</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo" name="button">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                            <!--change ml to mr if u want to move the navbar items-->
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about-me">About me</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="projects">Projects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact">Contact</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>
                <!---End Navbar-->
                <div class="row">

                    <!-- About me img -->
                    <div class="col-lg-6 col-md-4 img-about">
                        <div class="image-wrapper about-content">
                            <img src="/uploads/img2.jpg" class="img-fluid " alt="About me photo">
                        </div>
                    </div>

                    <!-- About me content -->
                    <div id="content-box" class="col-lg-6 col-md-8 about-content">
                        <div class="about-wrapper">
                            <h3 class="section-title">About me</h3>
                            <h5 class="section-subtitle">Web Developer</h5>
                            <div class="description">
                                <p class="description-text">I'm an entry level
                                    Web developer, passionate about programming and computers.<br>
                                    I'm a fast learner, hard worker and team player that has been developing proficiency in Javascript, HTML, CSS, Node.js and other web developing tools through many hours of self-taught, online courses and really good mentoring.

                                </p>
                            </div>
                        </div>
                        <!-- Skills bars -->
                        <div class="container-fluid row list">
                            <div class="skills-bars col-6">
                                <h5>Frontend</h5>
                                <ul>
                                    <li>
                                        <span class="span-item">HTML</span>


                                    </li>
                                    <li>

                                        <span class="span-item">CSS</span>


                                    </li>
                                    <li>

                                        <span class="span-item">Javascript</span>

                                    </li>
                                    <li>

                                        <span class="span-item">Bootstrap</span>


                                    </li>
                                    <li>

                                        <span class="span-item">Npm</span>


                                    </li>
                                </ul>
                            </div>
                            <div class="skills-bars col-6">
                                <h5>Backend</h5>
                                <ul>
                                    <li>

                                        <span class="span-item">Node.js</span>

                                    </li>
                                    <li >

                                        <span class="span-item">SQL(mySQL)</span>


                                    </li>
                                    <li>

                                        <span class="span-item">MongoDB</span>

                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <form class="" action="cv-yersin" method="post">
                            <div class="about-buttons">
                                <button class="btn btn-primary about-buttons" type="submit" name="button">Download CV</button>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </section>

    </div>
</section>
