<%- include('partials/header') %>



<!--starts section title-->
<section id="title" class="hero">
 
    <div class="container-fluid">


        <!--starts Nav Bar -->
        <nav class="navbar navbar-expand-lg  navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Yersin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo" name="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                    <!--change ml to mr if u want to move the navbar items-->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pricing">About me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#cta">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#cta">Contact</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!---End Navbar-->

        <!-- Text animation starts -->

       <div>
           
       </div>

<iframe src="/uploads/media/yersin-cv.pdf" width="100%" height="500px">
    </iframe>

    </div>
</section>









<%- include('partials/footer') %>